{
  "search": {
    "active_search_provider": "tavily",
    "baidu": {
      "api_key": "**************************************"
    },
    "tavily": {
      "base_url": "https://api.tavily.com/search",
      "api_key": "******************************"
    }
  }
}